 .container{
                width: 400px;
                height: 400px;
                margin:100px auto;
                cursor: pointer;
}


.square{
                width: 100px;
                height: 100px;
                background: lightblue;
                float: left;
                margin: 5px;
                color:white;
}